@import '../styles/variables/variables';

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $spacing-large;
  padding: $spacing-large;
  
  &__controls {
    grid-column: 1 / -1;
    display: flex;
    gap: $spacing-medium;
    margin-bottom: $spacing-large;
    flex-wrap: wrap;
  }
}
