@import '../styles/variables/variables';
@import '../styles/mixins/mixins';

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  
  &__controls {
    grid-column: 1 / -1;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
}
